[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
cuid = "*"
isort = "*"
Pillow = "*"
django-extensions = "*"
PyJWT = "*"
pytz = "*"
gunicorn = "*"
django-rq = "*"
bcrypt = "*"
django-redis = "*"
celery = "*"
django-rest-swagger = "*"
Pygments = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.coverage]
extras = [ "toml",]
