<!-- https://schema.org/MedicalCode -->
<!-- https://schema.org/MedicalTest -->
<!-- https://schema.org/MedicalCondition -->
<!--https://schema.org/MedicalEntity  -->
<!-- https://schema.org/seriousAdverseOutcome -->
<!-- https://www.cms.gov/files/document/2021-coding-guidelines-updated-12162020.pdf -->
<!-- https://www.cms.gov/medicare/icd-10/2021-icd-10-cm -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    codeValue	
    codingSystem

    <div itemscope itemtype="https://schema.org/CategoryCode" itemid="http://id.loc.gov/vocabulary/iso639-2/cze">
        <meta itemprop="codeValue" content="cze">
        <h2>Czech; tchèque; Tschechisch</h2>
        <link itemprop="inCodeSet" href="http://id.loc.gov/vocabulary/iso639-2">
        <h3>From: ISO 639-2: Codes for the Representation of Names of Languages</h3>
        <span itemprop="name" xml:lang="en" content="Czech">English: Czech</span><br/>
        <span itemprop="name" xml:lang="fr" content="tchèque">French: tchèque</span><br/>
        <span itemprop="name" xml:lang="de" content="Tschechisch">German: Tschechisch</span><br/>
</div>
<div itemscope >
    <span itemtype="https://schema.org/codingSystem" itemprop="codingSystem" content='ICD-10' value='icd_10'>
    <span>Encounter for screening for COVID-19</span>
        <span content="Z11.52"  itemtype="">Z11.52</span>
    </span>
<span itemprop="medicineSystem">Evidence-based</span>
</div>

    Encounter for screening for COVID-19 (Z11.52)
• Contact with and (suspected) exposure to COVID-19 (Z20.822)
• Personal history of COVID-19 (Z86.16)
• Multisystem inflammatory syndrome (MIS) (M35.81)
• Other specified systemic involvement of connective tissue (M35.89)
• Pneumonia due to coronavirus disease 2019 (J12.82)


</body>
</html>