<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <dl>
        <dt>Coronavirus</dt>
        <dd>"A species in the genus CORONAVIRUS causing the common cold and possibly nervous system infections
            in humans. It lacks hemagglutinin-esterase."
        </dd>
        <dd>
            <cite>Source: Medical Subject Headings, 2021_2020_07_16; Code in source: D028941 ; UMLS CUI:C0949880</cite>
        </dd>
        <dd>
            <dl>
                <dt>Other Names</dt>
                <dd>
                    <ul type="none">
                        <li>COVID-19 virus</li>
                        <li>SARS-CoV-2</li>
                        <li>2019-nCoV</li>
                        <li>Coronavirus disease 19</li>
                    </ul>
                </dd>
                <dt>Coronavirus NL63, Human:</dt>
                <dd>HCoV-NL63</dd>
                <dt>Coronavirus OC43, Human:</dt>
                <dd>HCoV-OC43</dd>
                <dt>Coronavirus 229E, Human:</dt>
                <dd>HCoV-229E</dd>
            </dl>
        </dd>
    </dl>
</body>

</html>